<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>ORION Administrador</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- charts CSS-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="/administrador"> 
                            <img src="images/icon/Logo.png" alt="GasUnion" style="height: 50px;" />
                            
                        </a>
                        <div class="header--clock">
                            <span id="clock"></span>
                            <span id="date"></span>
                        </div>
                    </div>
                    
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a href="/administrador">
                                    <i class="fas fa-home"></i>Inicio
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-user"></i>
                                    <span class="bot-line"></span>Usuarios</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="/controlColaboradores">Gestión de Usuarios</a>
                                    </li>
                                    <li>
                                        <a href="/agregarColaborador">Agregar Usuario</a>
                                    </li>
                                    <li>
                                        <a href="#">Iniciar Bitacora de Asistencia</a>
                                    </li>
                                    <li>
                                        <a href="#">Asistencia</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-user"></i>
                                    <span class="bot-line"></span>Estaciones</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="#">Gestión de Estaciones</a>
                                    </li>
                                    <li>
                                        <a href="#">Agregar Estación</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-user"></i>
                                    <span class="bot-line"></span>Aerolíneas</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="#">Gestión de Aerolíneas</a>
                                    </li>
                                    <li>
                                        <a href="#">Agregar Aerolínea</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-user"></i>
                                    <span class="bot-line"></span>Sillas</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="#">Gestión de Sillas</a>
                                    </li>
                                    <li>
                                        <a href="#">Agregar Sillas</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-user"></i>
                                    <span class="bot-line"></span>QR´s</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="#">Gestión de QR</a>
                                    </li>
                                    <li>
                                        <a href="#">Agregar QR</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-users"></i>
                                    <span class="bot-line"></span>Servicios</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li class="has-sub">
                                        <a href="#"><span>Servicios Mostrador</span></a>
                                        <ul class="header3-sub-list list-unstyled">
                                            <li>
                                                <a href="/gestionMostrador">Gestion de Servicios</a>
                                            </li>
                                            <li>
                                                <a href="/inicioMostrador">Inicio Servicio</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#"><span>Servicios Llegadas</span></a>
                                        <ul class="header3-sub-list list-unstyled">
                                            <li>
                                                <a href="/gestionLlegadas">Gestion de Servicios</a>
                                            </li>
                                            <li>
                                                <a href="/inicioLlegadas">Inicio Servicio</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#"><span>Control de Vuelos (Llegadas)</span></a>
                                        <ul class="header3-sub-list list-unstyled">
                                            <li>
                                                <a href="/gestionVuelosLLegadas">Gestion de Servicios</a>
                                            </li>
                                            <li>
                                                <a href="/inicioVuelosLlegadas">Inicio Servicio</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#"><span>Control de Vuelos (Salidas)</span></a>
                                        <ul class="header3-sub-list list-unstyled">
                                            <li>
                                                <a href="#">Gestion de Servicios</a>
                                            </li>
                                            <li>
                                                <a href="#">Inicio Servicio</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                                
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        
                        
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <a href="#">
                                        <img src="images/icon/usuario.png" alt="usuario" />
                                    </a>
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#"><%= datos.nombreColaborador %> <%= datos.apellidoColaborador %></a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="images/icon/usuario.png" alt="usuario" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#"><%= datos.nombreColaborador %> <%= datos.apellidoColaborador %></a>
                                            </h5>
                                            <span class="email"><%= datos.nivelUsuario %></span>
                                            <span class="email">- <%= datos.estacion %></span>
                                        </div>
                                    </div>
                                    
                                    <div class="account-dropdown__footer">
                                        <a href="/logout">
                                            <i class="zmdi zmdi-power"></i>Cerrar Sesión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/administrador">
                            <img src="images/icon/Logo.png" alt="Orion" style="height: 50px;" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                    
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="/administrador">
                                <i class="fas fa-home"></i>Inicio</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user"></i>Usuarios</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/controlColaboradores">Gestión de Usuarios</a>
                                </li>
                                <li>
                                    <a href="/agregarColaborador">Agregar Usuario</a>
                                </li>
                                <li>
                                    <a href="#">Iniciar Bitacora de Asistencia</a>
                                </li>
                                <li>
                                    <a href="#">Asistencia</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user"></i>Sedes</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="#">Gestión de Sedes</a>
                                </li>
                                <li>
                                    <a href="#">Agregar Sede</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user"></i>Aerolíneas</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="#">Gestión de Aerolíneas</a>
                                </li>
                                <li>
                                    <a href="#">Agregar Aerolínea</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user"></i>Sillas</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="#">Gestión de Sillas</a>
                                </li>
                                <li>
                                    <a href="#">Agregar Silla</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user"></i>QR´s</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="#">Gestión de Codígos QR</a>
                                </li>
                                <li>
                                    <a href="#">Agregar Codígo QR</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-users"></i>Servicios</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li class="has-sub">
                                    <a class="js-arrow" href="#">Servicios Mostrador</a>
                                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                        <li> 
                                            <a href="/gestionMostrador">Gestion de Servicios</a>
                                        </li>
                                        <li>
                                            <a href="/inicioMostrador">Iniciar Servicio</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a class="js-arrow" href="#">Servicios llegadas</a>
                                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                        <li> 
                                            <a href="/gestionLlegadas">Gestion de Servicios</a>
                                        </li>
                                        <li>
                                            <a href="/inicioLlegadas">Iniciar Servicio</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a class="js-arrow" href="#">Control de Vuelos(llegadas)</a>
                                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                        <li> 
                                            <a href="">Gestion de Servicios</a>
                                        </li>
                                        <li>
                                            <a href="">Iniciar Servicio</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a class="js-arrow" href="#">Control de Vuelos (Salidas)</a>
                                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                        <li> 
                                            <a href="">Gestion de Servicios</a>
                                        </li>
                                        <li>
                                            <a href="">Iniciar Servicio</a>
                                        </li>
                                    </ul>
                                </li>
                                
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="images/icon/usuario.png" alt="usuario" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#"><%= datos.nombreColaborador %> <%= datos.apellidoColaborador %></a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="images/icon/usuario.png" alt="usuario" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#"><%= datos.nombreColaborador %></a>
                                    </h5>
                                    <span class="email"><%= datos.nivelUsuario %></span>
                                </div>
                            </div>
                            
                            <div class="account-dropdown__footer">
                                <a href="/logout">
                                    <i class="zmdi zmdi-power"></i>Cerrar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            

            

           

            <!-- STATISTIC CHART-->
            <section class="statistic-chart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">Dashboard Principal</h3>
                        </div>
                    </div>
                    <div class="row m-t-25">
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c1">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-account-o"></i>
                                        </div>
                                        <div class="text">
                                            <h2>10368</h2>
                                            <span>Cantidad de Servicios</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c2">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-shopping-cart"></i>
                                        </div>
                                        <div class="text">
                                            <h2>388,688</h2>
                                            <span>Aerolineas</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c3">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-calendar-note"></i>
                                        </div>
                                        <div class="text">
                                            <h2>1,086</h2>
                                            <span>Este mes</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart3"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c4">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-money"></i>
                                        </div>
                                        <div class="text">
                                            <h2>$1,060,386</h2>
                                            <span>Total de servicios</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart4"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <!-- CHART-->
                            <div class="statistic-chart-1">
                                <h3 class="title-3 m-b-30">Productividad</h3>
                                <div class="chart-wrap">
                                    <canvas id="chartProductividad"></canvas>
                                </div>
                                <div class="statistic-chart-1-note">
                                    <span class="big">Productivad de Servicios</span>
                                    
                                </div>
                            </div>
                            <!-- END CHART-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <!-- CHART-->
                            <div class="statistic-chart-1">
                                <h3 class="title-3 m-b-30">Servicios Mostrador</h3>
                                <div class="chart-wrap">
                                    <canvas id="graficaMostrador"></canvas>
                                </div>
                                <div class="statistic-chart-1-note">
                                    <span class="big">Totales por mes</span>
                                    
                                </div>
                            </div>
                            <!-- END CHART-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <!-- CHART-->
                            <div class="statistic-chart-1">
                                <h3 class="title-3 m-b-30">Servicios de Llegadas</h3>
                                <div class="chart-wrap">
                                    <canvas id="graficaLlegadas"></canvas>
                                </div>
                                <div class="statistic-chart-1-note">
                                    <span class="big">Totales por mes</span>
                                    
                                </div>
                            </div>
                            <!-- END CHART-->
                        </div>
                    </div>
                    <!-- SEGUNDA FILA DE CHART-->
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <!-- CHART-->
                            <div class="statistic-chart-1">
                                <h3 class="title-3 m-b-30">Control de Vuelos (Llegadas)</h3>
                                <div class="chart-wrap">
                                    <canvas id="cvLlegadas"></canvas>
                                </div>
                                <div class="statistic-chart-1-note">
                                    <span class="big">Totales por mes</span>
                                    
                                </div>
                            </div>
                            <!-- END CHART-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <!-- CHART-->
                            <div class="statistic-chart-1">
                                <h3 class="title-3 m-b-30">Control de Vuelos (Salidas)</h3>
                                <div class="chart-wrap">
                                    <canvas id="cvSalidas"></canvas>
                                </div>
                                <div class="statistic-chart-1-note">
                                    <span class="big">Totales por mes</span>
                                    
                                </div>
                            </div>
                            <!-- END CHART-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <!-- CHART-->
                            <div class="statistic-chart-1">
                                <h3 class="title-3 m-b-30">Servicios por Aerolinea</h3>
                                <div class="chart-wrap">
                                    <canvas id="serviciosAerolinea"></canvas>
                                </div>
                                <div class="statistic-chart-1-note">
                                    <span class="big">Totales por mes</span>
                                    
                                </div>
                            </div>
                            <!-- END CHART-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC CHART-->

            <!-- DATA TABLE
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35"></h3>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    <div class="rs-select2--light rs-select2--md">
                                        <select class="js-select2" name="property">
                                            <option selected="selected">All Properties</option>
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--light rs-select2--sm">
                                        <select class="js-select2" name="time">
                                            <option selected="selected">Today</option>
                                            <option value="">3 Days</option>
                                            <option value="">1 Week</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <button class="au-btn-filter">
                                        <i class="zmdi zmdi-filter-list"></i>filters</button>
                                </div>
                                <div class="table-data__tool-right">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>add item</button>
                                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                        <select class="js-select2" name="type">
                                            <option selected="selected">Export</option>
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </th>
                                            <th>name</th>
                                            <th>email</th>
                                            <th>description</th>
                                            <th>date</th>
                                            <th>status</th>
                                            <th>price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tr-shadow">
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>Lori Lynch</td>
                                            <td>
                                                <span class="block-email">lori@example.com</span>
                                            </td>
                                            <td class="desc">Samsung S8 Black</td>
                                            <td>2018-09-27 02:12</td>
                                            <td>
                                                <span class="status--process">Processed</span>
                                            </td>
                                            <td>$679.00</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                        <i class="zmdi zmdi-mail-send"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="spacer"></tr>
                                        <tr class="tr-shadow">
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>Lori Lynch</td>
                                            <td>
                                                <span class="block-email">john@example.com</span>
                                            </td>
                                            <td class="desc">iPhone X 64Gb Grey</td>
                                            <td>2018-09-29 05:57</td>
                                            <td>
                                                <span class="status--process">Processed</span>
                                            </td>
                                            <td>$999.00</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                        <i class="zmdi zmdi-mail-send"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="spacer"></tr>
                                        <tr class="tr-shadow">
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>Lori Lynch</td>
                                            <td>
                                                <span class="block-email">lyn@example.com</span>
                                            </td>
                                            <td class="desc">iPhone X 256Gb Black</td>
                                            <td>2018-09-25 19:03</td>
                                            <td>
                                                <span class="status--denied">Denied</span>
                                            </td>
                                            <td>$1199.00</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                        <i class="zmdi zmdi-mail-send"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="spacer"></tr>
                                        <tr class="tr-shadow">
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>Lori Lynch</td>
                                            <td>
                                                <span class="block-email">doe@example.com</span>
                                            </td>
                                            <td class="desc">Camera C430W 4k</td>
                                            <td>2018-09-24 19:10</td>
                                            <td>
                                                <span class="status--process">Processed</span>
                                            </td>
                                            <td>$699.00</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                        <i class="zmdi zmdi-mail-send"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <! END DATA TABLE-->

           
        </div>

    </div>

    <script>
        var ctx = document.getElementById("percent-chart2");
    if (ctx) {
      ctx.height = 209;
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          datasets: [
            {
              label: "Productividad",
              data: [85.1, 98.2,78.9,87.0,45.2,87.6],
              backgroundColor: [
                '#00b5e9',
                '#fa4251',
                '#FF2D00',
                '#2AFF00',
                '#00F3FF',
                '#B600FF'
              ],
              hoverBackgroundColor: [
                '#00b5e9',
                '#fa4251',
                '#FF2D00',
                '#2AFF00',
                '#00F3FF',
                '#B600FF'
              ],
              borderWidth: [
                0, 0, 0, 0, 0, 0
              ],
              hoverBorderColor: [
                'transparent',
                'transparent',
                'transparent',
                'transparent',
                'transparent',
                'transparent'
              ]
            }
          ],
          labels: [
            'MEX T1',
            'MEX T2',
            'GDL',
            'MTY',
            'CUN',
            'PVR'
          ]
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          cutoutPercentage: 87,
          animation: {
            animateScale: true,
            animateRotate: true
          },
          legend: {
            display: false,
            position: 'bottom',
            labels: {
              fontSize: 14,
              fontFamily: "Poppins,sans-serif"
            }

          },
          tooltips: {
            titleFontFamily: "Poppins",
            xPadding: 15,
            yPadding: 10,
            caretPadding: 0,
            bodyFontSize: 16,
          }
        }
      });
    }

    </script>
    <script>
        var ctx = document.getElementById("graficaMostrador");
    if (ctx) {
      ctx.height = 220;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['ENE', 'FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEP', 'OCT', 'NOV', 'DIC'],
          datasets: [
            {
              label: "Número de Seervicios",
              data: [78, 81, 80, 64, 65, 80, 70, 75, 67, 85, 66, 68],
              borderColor: "transparent",
              borderWidth: "0",
              backgroundColor: "#00b5e9",
            }
          ]
        },
        options: {
          maintainAspectRatio: true,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              display: true,
              categoryPercentage: 1,
              barPercentage: 0.65
            }],
            yAxes: [{
              display: true
            }]
          }
        }
      });
    }
    </script>
    <script>
        var ctx = document.getElementById("graficaLlegadas");
    if (ctx) {
      ctx.height = 220;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['ENE', 'FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEP', 'OCT', 'NOV', 'DIC'],
          datasets: [
            {
              label: "Número de Seervicios",
              data: [78, 81, 80, 64, 65, 80, 70, 75, 67, 85, 66, 68],
              borderColor: "transparent",
              borderWidth: "0",
              backgroundColor: "#00b5e9",
            }
          ]
        },
        options: {
          maintainAspectRatio: true,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              display: true,
              categoryPercentage: 1,
              barPercentage: 0.65
            }],
            yAxes: [{
              display: true
            }]
          }
        }
      });
    }
    </script>
    <script>
        var ctx = document.getElementById("cvLlegadas");
    if (ctx) {
      ctx.height = 220;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['ENE', 'FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEP', 'OCT', 'NOV', 'DIC'],
          datasets: [
            {
              label: "Número de Seervicios",
              data: [78, 81, 80, 64, 65, 80, 70, 75, 67, 85, 66, 68],
              borderColor: "transparent",
              borderWidth: "0",
              backgroundColor: "#00b5e9",
            }
          ]
        },
        options: {
          maintainAspectRatio: true,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              display: true,
              categoryPercentage: 1,
              barPercentage: 0.65
            }],
            yAxes: [{
              display: true
            }]
          }
        }
      });
    }
    </script>
    <script>
        var ctx = document.getElementById("cvSalidas");
    if (ctx) {
      ctx.height = 220;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['ENE', 'FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEP', 'OCT', 'NOV', 'DIC'],
          datasets: [
            {
              label: "Número de Seervicios",
              data: [78, 81, 80, 64, 65, 80, 70, 75, 67, 85, 66, 68],
              borderColor: "transparent",
              borderWidth: "0",
              backgroundColor: "#00b5e9",
            }
          ]
        },
        options: {
          maintainAspectRatio: true,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              display: true,
              categoryPercentage: 1,
              barPercentage: 0.65
            }],
            yAxes: [{
              display: true
            }]
          }
        }
      });
    }
    </script>
    <script>
        var ctx = document.getElementById("serviciosAerolinea");
    if (ctx) {
      ctx.height = 220;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['UA', 'LR', 'TA', 'AV', 'IB', 'NH', 'AM'],
          datasets: [
            {
              label: "Número de Seervicios",
              data: [345,567,983,763,130,432,245],
              borderColor: "transparent",
              borderWidth: "0",
              backgroundColor: "#00b5e9",
            }
          ]
        },
        options: {
          maintainAspectRatio: true,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              display: true,
              categoryPercentage: 1,
              barPercentage: 0.65
            }],
            yAxes: [{
              display: true
            }]
          }
        }
      });
    }
    </script>
    <script>
        function updateClock() {
            const clockElement = document.getElementById('clock');
            const dateElement = document.getElementById('date');
            const now = new Date();
            
            // Formatea la hora
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            const seconds = now.getSeconds().toString().padStart(2, '0');
            const timeString = `${hours}:${minutes}:${seconds}`;
            
            // Formatea la fecha
            const year = now.getFullYear();
            const month = (now.getMonth() + 1).toString().padStart(2, '0');
            const day = now.getDate().toString().padStart(2, '0');
            const dateString = `${year}/${month}/${day}`;
            
            // Actualiza los elementos en el HTML
            clockElement.textContent = timeString;
            dateElement.textContent = dateString;

            //Ocultar contenido
            clockElement.style.display = 'none';
            dateElement.style.display = 'none';
        }
        
        // Llama a updateClock inicialmente y luego cada segundo
        updateClock();
        setInterval(updateClock, 1000);
    </script>
        
        

    
    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/vendor/slick/slick.min.js">
    </script>
    <script src="/vendor/wow/wow.min.js"></script>
    <script src="/vendor/animsition/animsition.min.js"></script>
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/js/main.js"></script>

</body>

</html>
<!-- end document-->
